body{
    background: linear-gradient(45deg, rebeccapurple, purple, red, pink);
    background-size: 400% 400%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: cursive;
    animation: colores 10s ease-in infinite;
    position: relative;
}
@keyframes colores{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
nav{
    height: 60px;
    width: 100%;
    text-align: center;
    
}
 nav h1{
    margin: 0;

 }
 nav p{
    margin: 0;
    font-size: 1.2rem;
 }
.volumenes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    place-items: center;
    height: 80vh;
}
.volumenes div{
    display: flex;
    margin: 10px;
    min-width: 200px;
    max-width: fit-content;
    height: 350px;
    border: 1px black solid;
    justify-content: center;
    background: #ff149340;
}
.volumenes div img{
    width: 100%;
    height: 80%;
    object-fit:cover;
    transition: 0.5s;
}

.volumenes:hover > :not(:hover
){
    opacity: 0.4;
    transition: 0.5s;
}

label p{
    color: black;
    text-align: center;
}
input{
    display: none;
}
aside{
    right: 10px;
    display: none;
    position:fixed;
    width: 40%;
    height: 90vh;
    z-index: 1;
}
.aside--container{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(207 10 200 / 77%);
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    border: black 1px solid;
}
aside .aside--container img{
    width: 100%;
    height: 84%;
}
.aside--container .iconoExit{
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    top: -12px;
    left: -13px;
}
.aside--container .iconoExit:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.aside--container h2{
    text-align: center;
    margin: 2px 0 0 0;
}
.aside--container p{
    padding: 0;
    margin: 2px;
    font-size: 1.3rem;
} 
.aside--container a{
    margin: 0 0 2px 0;
    color: yellow;
    font-size: 1.2rem;
}
@media (max-width:500px ){
    aside{
       display: none;
       position: fixed;
       width: 90%;
       height: 90vh;
       margin-right: 3%;
       
    }
    .volumenes:hover > :not(:hover
){
    opacity: 1;
    transition: 0.5s;
}
}
@media (min-width:1000px ){
    aside{
       width: 35%;  
    }
}